/*
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 * Click nbfs://nbhost/SystemFileSystem/Templates/Classes/Class.java to edit this template
 */
package com.mycompany.subsidio_de_servicios_publicos;

import java.util.Scanner;

/**
 *
 * @author Jose Miguel
 */
public class Subsidio_de_Servicios_Publicos {
    
    public static double Calcular_Descuentos(double Valor_del_Servicio, int Estrato) {
        double Descuento = 0;
        // Descuentos según el estrato
        if (Estrato == 1) {
            Descuento = 0.20;
        } else if (Estrato == 2) {
            Descuento = 0.15;
        } else if (Estrato == 3) {
            Descuento = 0.09;
        }
        return Valor_del_Servicio * Descuento;
    }

    public static void main(String[] args) {
        Scanner scanner = new Scanner(System.in);
        
        System.out.print("Ingrese el número de familias: ");
        int numero_de_Familias = scanner.nextInt();

        
        double Total_de_la_Luz = 0;
        double Total_del_Agua = 0;
        double Total_del_Gas = 0;

        for (int i = 0; i < numero_de_Familias; i++) {
            System.out.print("Ingrese el estrato de la familia: ");
            int Estrato = scanner.nextInt();
            System.out.print("Ingrese el valor del recibo de la Luz: ");
            double Valor_de_la_Luz = scanner.nextDouble();
            System.out.print("Ingrese el valor del recibo del Agua: ");
            double Valor_del_Agua = scanner.nextDouble();
            System.out.print("Ingrese el valor del recibo del Gas: ");
            double Valor_del_Gas = scanner.nextDouble(); 
            
            double Descuento_de_la_Luz = Calcular_Descuentos(Valor_de_la_Luz, Estrato);
            double Descuento_del_Agua = Calcular_Descuentos(Valor_del_Agua, Estrato);
            double Descuento_del_Gas = Calcular_Descuentos(Valor_del_Gas, Estrato);     
            
            Total_de_la_Luz += Valor_de_la_Luz - Descuento_de_la_Luz;
            Total_del_Agua += Valor_del_Agua - Descuento_del_Agua;
            Total_del_Gas += Valor_del_Gas - Descuento_del_Gas;
            
            System.out.printf("Total a pagar por la Luz: %.2f%n", Valor_de_la_Luz - Descuento_de_la_Luz);
            System.out.printf("Total a pagar por el Agua: %.2f%n", Valor_del_Agua - Descuento_del_Agua);
            System.out.printf("Total a pagar por el Gas: %.2f%n", Valor_del_Gas - Descuento_del_Gas);
        }
        
        System.out.println("\nTotal a pagar por todos los servicios:");
        System.out.printf("Total de la Luz: %.2f%n", Total_de_la_Luz);
        System.out.printf("Total del Agua: %.2f%n", Total_del_Agua);
        System.out.printf("Total del Gas: %.2f%n", Total_del_Gas);

        scanner.close();
    }
}
